
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Variables
@import "variables";
.big-padding {
  padding:30px;
}
.red-yellow{
  background-color:#c0ca33;
}
.blue-grey{
  background-color:#37474f;
}
.white{
  background-color: royalblue;
}
.white-text{
  color: white;
}
.table{
  background-color: white;
}
.colorado{
  color:#99CCFF;
  background-color: #1f648b;
}
.floating{
  position:relative;
  bottom: 10px;
  right: 15px;
  z-index:100;
}
.inline-block{
  display: inline-block;
}
.no-transform{
  text-transform: none;
}
.no margin{
  margin:0px;
}
.no-padding{
  padding:0;
}
.red-text{
<<<<<<< HEAD
  color: rgb(200, 50, 50);
}

=======
  color:#ac2925;
}
>>>>>>> 5115985123f5e2484326884e5a3a1d1317e6eeb1
